<!-- Watch Now Button -->
<a href="#" class="prime-button" data-bs-toggle="modal" data-bs-target="#videoModal{{ video.id }}">
    <i class="fas fa-play icon"></i> Watch Now
</a>

<!-- Modal -->
<div class="modal fade" id="videoModal{{ video.id }}" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel">{{ video.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <video width="100%" poster="{{ video.thumb_image.url }}" controls>
                    <source src="{{ video.video_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
